`iat`, `exp` claims does not respect RFC7515

## I expect 

`iat`, `exp` claim to be integer Unix Timestamps according to RFC7515 / RFC7519

## Instead

- examples show RFC3339 strings
- json-schema uses "date-time" format

## Note

This breaks standard JWT parsers and introduce potential timezone management issues in the parsers.